.Playlist {
    display: flex;
}

.PlaylistPage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.PlaylistInfo {
    text-align: center;
    padding: 1rem 1.5rem;
    display: flex;
}

.PlaylistInfoSubSection {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
}

.PlaylistInfoSubSectionIcons {
    display: flex;
    margin-left: 6rem;
    align-items: center;
}

.PlaylistImage {
    width: 15rem;
    height: 15rem;
}

.PlaylistImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5),
    0 4px 40px rgba(0,0,0,0.5);
}

.PlaylistDescription {
    text-align: left;
    padding-left: 2rem;
    padding-top: 3.5rem;
}

.PlaylistDescription h1 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 1rem;
    letter-spacing: -7px;
}

.PlaylistDescriptionSub {
    display: flex;
    letter-spacing: -0.5px;
}

.PlaylistDescriptionSub p {
    margin: 0;
}

.PlaylistDescriptionSub span {
    opacity: 0.7;
    margin-left: 0.3rem;
}

.PlayIcon {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background: #000;
    margin-left: auto;
    padding: 1.1rem 1.2rem 1.2rem 1.3rem;
    position: absolute;
}

.HeartIcon {
    width: 2rem;
    height: 2rem;
    fill: #c2c2c2;
    margin-right: 2.8rem;
}

.ThreeIcons {
    font-size: 1.8rem;
}

.RR {
    margin-right: 0.5rem;
}

.PlaylistTable {
    padding: 1rem;
    height: 100%;
}

.SongRows {
    margin: 0;
    display: flex;
    align-items: center;
}

Col {
    margin: 0;
}

.PlaylistTableSongInfo {
    width: 100%;
}

.PlaylistTableSongInfo img {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.5rem;
}